#container{
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.aside{
    background-color: azure;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: inherit;
}

.elements{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 50rem;
    border: 1px solid;
    padding-top: 50px;
}

.section-principal{
    background-color: white;
    width: 85rem;
}

#search{
    border: 1px solid;
    width: 40rem;
    height: 3rem;
    margin: 15px;
    background-color: whitesmoke;
}

.icon{
    border-radius: 0%;
    border: 1px solid;
    width: 20px;
    height: 20px;
    background-color: blue;
    margin: 10px;
}

main{
    border-radius: 0%;
    border: 1px solid;
    width: 20px;
    height: 20px;
    margin: 10px;
    background-color: blue;
}

.content{
    display: flex;
    border: 1px solid;
    flex-direction: row;
    margin-left: 10px;
}